{% extends "templates/default.html.twig" %}

{% block title %}Posts
{% endblock %}

{% block content %}
	<div class="mt-5 ml-5">
		<a class="rounded-xl p-2 bg-[#3F4A7A]" href="/profil">
			Profile</a>
		{% if user.role == "Admin" %}
			<a class="rounded-xl p-2 bg-[#3F4A7A]" href="/admin">Admin</a>
		{% endif %}
	</div>
	<div class="mt-6 ml-5">
		<form method="POST">

			<select name="city" id="city" class="rounded-xl p-2 bg-[#3F4A7A]">
				<option value="">Ville</option>
				{% for city in cities %}
					<option value="{{ city.id }}">{{ city.name }}</option>
				{% endfor %}
			</select>
			<select name="type" id="type" class="rounded-xl p-2 bg-[#3F4A7A]">
				<option value="">Type</option>
				{% for type in types %}
					<option value="{{ type.id }}">{{ type.name }}</option>
				{% endfor %}
			</select>
			<input type="number" name="price" id="price" placeholder="Prix" class="rounded-xl p-2 bg-[#3F4A7A]">
			<p>Equipements</p>

			<div class="flex flex-row gap-4">
				{% for equipment in equipments  %}
					<div class="flex">
						<input class="rounded-xl p-2 bg-[#3F4A7A]" type="checkbox" name="equipments[]" value="{{ equipment.id }}"/>
						<p>{{ equipment.name }}</p>
					</div>
				{% endfor %}
			</div>
			<p>Services</p>

			<div class="flex flex-row gap-4">
				{% for service in services  %}
					<div class="flex">
						<input class="rounded-xl p-2 bg-[#3F4A7A]" type="checkbox" name="services[]" value="{{ service.id }}"/>
						<p>{{ service.name }}</p>
					</div>


				{% endfor %}
			</div>
			<input class="rounded-xl p-2 bg-[#3F4A7A]" type="submit" value="Rechercher">
		</form>
	</div>
	{% for housing in housings %}

		<div class="px-8 pt-6">
			<div class="bg-[#3F4A7A] shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
				<div class="flex flex-row justify-between">
					<div class="flex flex-col">
						<div class="flex flex-col justify-between">
							<h1 class="font-bold text-3xl mb-2">{{ housing.name }}</h1>
							{% if housing.image != null %}
								<img src="data:image/*;base64,{{ housing.image }}" alt="" class="w-64 h-48">
							{% endif %}
							{% if housing.image == null %}
								<h1 class='font-bold text-xl'>Aucune image</h1>
							{% endif %}
							<p>Pour
								{{ housing.night_price }}
								€</p>
							<p>C'est un type
								{{ housing.type }}
							</p>
							Service :
							{% for service in services %}
								{% if service.id == housing.id_service %}
									{{ service.name }}
								{% endif %}
							{% endfor %}
							<p>Equipement :
								{% for equipment in equipments %}
									{% if equipment.id == housing.id_equipment %}
										{{ equipment.name }}
									{% endif %}
								{% endfor %}
							</p>
						</div>
						<p>
							A
							{{ housing.city }}</p>
					</div>
					<div class="flex flex-col gap-3">
						<a class="cursor rounded-xl bg-[#273469] p-4 text-xl shadow-xl" href="/housing/{{housing.id}}">Details</a>
						{% set liked = false %}
						{% for like in likes %}
							{% if like.id_housing == housing.id %}
								{% set liked = true %}
							{% endif %}
						{% endfor %}
						{% if liked == false %}
							<form action="/addFavorite" method="POST">
								<input type="hidden" name="id" value="{{ housing.id }}">
								<input class="cursor rounded-xl bg-[#273469] p-4 text-xl shadow-xl" type="submit" value="Ajouter aux favoris">
							</form>
						{% endif %}
						{% if liked == true %}
							<form action="/deleteHousing" method="POST">
								<input type="hidden" name="id" value="{{ housing.id }}">
								<input class="cursor w-full rounded-xl bg-[#273469] p-4 text-xl shadow-xl" type="submit" value="Supprimer">
							</form>
						{% endif %}


					</div>
				</div>
				<p>{{ housing.description }}</p>
			</div>
		</div>
	{% endfor %}
{% endblock %}
